//Normalize
@import '../../node_modules/stylus-normalize/normalize'

//Variables and mixins
@import 'variables'
@import 'mixins'

//Grid system
@import '../../node_modules/jeet/styl'

//sprites
@import 'sprite'

//components
@import 'components/typography'
@import 'components/gallery'


.container
	center()
	@media (min-width: tabletWidth)
		center(containerWidthTablet)
	@media (min-width: desktopWidth)
		center(containerWidthDesktop)
		
.container__left
	column(1)
	background lightGrey
	margin 0 0 10px 0
	.inner
		padding 15px
	@media (min-width: tabletWidth)
		column(1/4, $cycle: 2, $gutter: 0)
	@media (min-width: desktopWidth)
		column(1/4, $cycle: 2, $gutter: 0)

.container__right
	span(1)	
	background softGrey
	margin 0 0 10px 0
	.inner
		padding 15px
	@media (min-width: tabletWidth)
		column(3/4, $cycle: 2, $gutter: 0)
	@media (min-width: desktopWidth)
		column(8/12, $offset: 1/12, $cycle: 2, $gutter: 0)


	
	
			
.github
	//sprite($github)
	retinaSprite($github_group)

	

