//Normalize
@import '../../node_modules/stylus-normalize/normalize'

//Variables and mixins
@import 'variables'
@import 'mixins'

//Grid system
@import '../../node_modules/jeet/styl'

//sprites
@import 'sprite'



.container
	center()
.left
	span(1)
.right
	span(1)	

@media (min-width: tabletWidth)
	.container
		center(containerWidthTablet)
	.left
		column(1/4, $cycle: 2, $gutter: 0)
	.right	
		column(3/4, $cycle: 2, $gutter: 0)



@media (min-width: desktopWidth)
	.container
		center(containerWidthDesktop)
	.left
		span(1/4, $cycle: 2, $gutter: 0)
	.right
		span(3/4, $cycle: 2, $gutter: 0)
	
	.gallery
		center(containerWidthDesktop)
		.img
			span(1/4, $cycle: 4)
			

h1
	text-center()
	.icon
		sprite($s-crayon)