
.gallery
	center()
	@media (min-width: tabletWidth)
		center(containerWidthTablet)
	@media (min-width: desktopWidth)
		center(containerWidthDesktop)
		
.gallery__img
	span(1)
	background lightGrey
	margin 0 0 10px 0
	padding 20px 0 
	&:nth-child(odd)
		background softGrey
	@media (min-width: tabletWidth)
		span(1/2, $cycle: 2)
	@media (min-width: desktopWidth)
		span(1/4, $cycle: 4)